*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	font-family: 'Poppins', sans-serif;
}
header{
	display: flex;
	/* background: cadetblue; */
	width: 90%;
	height: 10vh;
	margin: auto;
	align-items: center;
}
.logo-container , .nav-links, .cart{
	display: flex;
}

.logo-container{
	flex: 1;
}

.logo{
	font-weight: 400;
	margin: 5px;
}
.nav-links{
	justify-content: space-around;
	list-style: none;
}

.nav-link{

	color : black;
	font-size: 18px;
	text-decoration: none;
}
button{
	font-family: 'Poppins', sans-serif;
}
nav{
	flex: 2;
}

.cart{
	flex: 1;
	justify-content: flex-end;
}

.presentation{
	display: flex;
	width : 90%;
	margin: auto;
	min-height: 80vh;
	/* background: yellow; */
	align-items: center;
}

.cover img{
	height: 60vh;
	filter:drop-shadow(0px 5px 3px black);
	animation: drop 1.5s ease;
}
/* .cover img:hover{
	animation: revdrop 1.5s ease;
} */

.intro-text h1{
	font-size : 44px;
	font-weight: 500;
	background: linear-gradient(to right, #494964, #6f6f89);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.intro-text p{
	margin-top: 5px;
	font-size: 22px;
	color: #585772;
}

.cta{
	padding: 50px 0px 0px 0px ;
}

.cta-select{
	border: 2px solid #c36cbb;
	background: transparent;
	width: 150px;
	height: 50px;
	cursor: pointer;
	font-size: 16px;
}

.cta-add{
	border: none;
	background: #c36cbb;
	width: 150px;
	height: 50px;
	cursor: pointer;
	font-size: 16px;
	margin: 30px 0px 0px 30px;

}

.introduction{
	flex: 1;
}

.cover{
	flex : 1;
}

.big-circle{
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: -1;
	opacity: 0.7;
	height: 80%;
}

.mid-circle{
	position: absolute;
	top: 30%;
	right: 30%;
	z-index: -1;
	height: 60%;
	opacity: 0.5;
}

.small-circle{
	position: absolute;
	bottom: 0%;
	left: 20%;
	z-index: -1;
	opacity: 0.5;
}

.laptop-select{
	width: 15%;
	display: flex;
	justify-content: space-around;
	position: absolute;
	right: 27%;
}

@keyframes revdrop{
	0%{		
		filter:drop-shadow(0px 5px 3px black);
	}
	100%{		
		filter:drop-shadow(0px 8px 5px black);
	}
}




@keyframes drop{
	0%{
		opacity: 0;
		transform: translateY(-80px);
	}
	100%{
		opacity: 1;
		transform: translateY(0px);
	}
}

@media screen and (max-width: 1024px){
	.presentation{
		flex-direction: column;
	}
	.introduction{
		margin-top: 5vh;
		text-align : center;
	}
	.intro-text h1{
		margin-top: 20px;
		font-size: x-large;
	}
	.intro-text p{
		margin-top: 15px;
		font-size: large;
	}
	.small-circle, .big-circle, .mid-circle{
		opacity: 0.4;
	}
}